@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: orbitron;
  src: url(/Orbitron-SemiBold.ttf);
}

.orbitron {
  font-family: orbitron;
}

@font-face {
  font-family: wix;
  src: url(/WixMadeforDisplay-VariableFont_wght.ttf);
}

.wix {
  font-family: wix;
}

html {
  scroll-behavior: smooth;
}
